<div class="comment-box">
                    <div class="comment-box-header">
                        <div class="comment-box-header-icon"><img src="/static/profile_assets/{{this.username}}.jpg"></div>
                        <div class="comment-box-header-data-container">
                            <div class="comment-box-header-username">{{this.name}}</div>
                            <div class="comment-box-header-handle">{{this.username}}</div>
                        </div>
                        <div class="comment-box-header-date">{{this.date}}</div>
                    </div>
                    <div class="comment-box-body">
                        <div class="comment-box-text">{{this.text}}</div>
                    </div>
                    <div class="comment-box-footer">
                        <div class="upvotes">
                            <span><img class="note-sprite" src="generic_assets/upvote.png"> </span>
                        </div>
                        <div class="downvotes">
                            <span><img class="note-sprite" src="generic_assets/downvote.png"> </span>
                        </div>
                        <div class="comments">
                            <span><img class="note-sprite" src="generic_assets/comment.png"> </span>
                        </div>
                    </div>
                </div>