<div class="comment-box">
                    <div class="comment-box-header">
                        <div class="comment-box-header-icon"><img src="/static/profile_assets/{{this.username}}.jpg"></div>
                        <div class="comment-box-header-data-container">
                            <div class="comment-box-header-username"><a class='profilelink' href="/profiles/{{this.username}}">{{this.name}}</a></div>
                            <div class="comment-box-header-handle">{{this.username}}</div>
                        </div>
                        <div class="comment-box-header-date">{{this.date}}</div>
                    </div>
                    <div class="comment-box-body">
                        <div class="comment-box-text">{{this.text}}</div>
                    </div>
                    <div class="comment-box-footer">
                        <div class="note-sprite"><div class="upvotes"></div></div>
                        <div class="note-sprite"><div class="downvotes"></div></div>
                        <div class="note-sprite"><div class="comments"></div></div>
                    </div>
                </div>

