<div class="post-box">
                    <div class="post-box-header">
                        <div class="post-box-header-icon"><img src="profile_assets/{{this.username}}.jpg"></div>
                        <div class="post-box-header-data-container">
                            <div class="post-box-header-username">{{this.name}}</div>
                            <div class="post-box-header-handle">{{this.username}}</div>
                        </div>
                        <div class="post-box-header-date">{{this.date}}</div>
                    </div>
                    <div class="post-box-body">
                        <div class="post-box-title">{{this.title}}</div>
                        <div class="post-box-text">{{this.text}}</div>
                    </div>
                    <div class="post-box-footer">
                        <div class="upvotes">
                            <span><img class="note-sprite" src="generic_assets/upvote.png"> 2</span>
                        </div>
                        <div class="downvotes">
                            <span><img class="note-sprite" src="generic_assets/downvote.png"> 0</span>
                        </div>
                        <div class="comments">
                            <span><img class="note-sprite" src="generic_assets/comment.png"> 2</span>
                        </div>
                    </div>
                </div>