<div class="post-box">    
    <div class="post-box-header">
        <div class="post-box-header-icon"><img src="/static/profile_assets/{{this.username}}.jpg" /></div>
        <div class="post-box-header-data-container">
            <div class="post-box-header-username "><a href="/profiles/{{this.username}}" class="brown-link">{{this.name}}</a></div>
            <div class="post-box-header-handle">{{this.username}}</div>
        </div>
        <div class="post-box-header-date"><a href="/posts/{{this.postid}}" class="brown-link">{{this.date}}</a></div>
    </div>
    <div class="post-box-body">
        <div class="post-box-title">{{this.title}}</div>
        <hr class="title-divider"/>
        <div class="post-box-text">{{this.body}} {{#if this.tags}} {{#each this.tags}} {{> tag this}} {{/each}} {{/if}}</div>
        {{#if this.hasImage}}<div class="post-image"><img src="/static/post_images/{{this.postid}}.jpg"></div>{{/if}}
    </div>
    <div class="post-box-footer">
        <div class="upvotes"></div>
        <div class="downvotes"></div>
        <div class="comments"></div>
    </div>
    {{#if this.me}}
            <div class="post-box-header-edit"><a href="/editPost/{{this.postid}}" class="brown-link">Edit</a></div>
        {{/if}}
</div>