 <div id="top-post-list">
                <div id="top-post-header">
                    Top Posts
                </div>
                <div class="post-thumb">
                    <span class="post-thumb-pic"><img src="profile_assets/gojo_pfp.jpg"></span>
                    <div class="post-thumb-data">
                        <div class="post-thumb-head"><a href="sample_post_1.html">{{titletop1}}</a></div>
                        <div class="post-thumb-date">February 10, 2024</div>
                    </div>
                </div>
                <div class="post-thumb">
                    <span class="post-thumb-pic"><img src="profile_assets/garcia_pfp.jpg"></span>
                    <div class="post-thumb-data">
                        <div class="post-thumb-head"><a href="sample_post_2.html">{{titletop2}}</a></div>
                        <div class="post-thumb-date">April 6, 2024</div>
                    </div>
                </div>
                <div class="post-thumb">
                    <span class="post-thumb-pic"><img src="profile_assets/pfp4.jpg"></span>
                    <div class="post-thumb-data">
                        <div class="post-thumb-head"><a href="sample_post_3.html">{{titletop3}}</a> </div>
                        <div class="post-thumb-date">September 1, 2024</div>
                    </div>
                </div>
                <div class="post-thumb">
                    <span class="post-thumb-pic"><img src="profile_assets/pfp5.jpg"></span>
                    <div class="post-thumb-data">
                        <div class="post-thumb-head"><a href="sample_post_4.html">{{titletop4}}</a> </div>
                        <div class="post-thumb-date">May 12, 2024</div>
                    </div>
                </div>
                <div class="post-thumb">
                    <span class="post-thumb-pic"><img src="profile_assets/gojo_pfp.jpg"></span>
                    <div class="post-thumb-data">
                        <div class="post-thumb-head"><a href="sample_post_5.html">{{titletop5}}</a> </div>
                        <div class="post-thumb-date">February 10, 2024</div>
                    </div>
                </div>
            </div>