<title>Edit Post</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/static/js/edit_post.js"></script>
<link rel="stylesheet" href="/static/stylesheets/edit-post.css" />
<input type="hidden" value="{{postid}}" id="postid"/>
{{> header_in user}}
<div id="page-content">
   <div id="post-entry">
                <form id="post-entry-box" name="postBox">
                    <div id="title-enter">
                        <input type="text" placeholder="Enter a title..." id="title-input" value="{{title}}">
                    </div>
                    <div id="post-entry-body">
                        <textarea placeholder="Write something..." id="post-body-textarea">{{body}}</textarea>
                        <div id="pic">
                          <label for="post-image-upload" ><img src="/static/generic_assets/camera.png" id="image-label"></label>  
                          <input
                            type="file"
                            id="post-image-upload"
                            accept=".jpg, .jpeg" />
                        </div>
                    </div>
                    <input id = "userin" hidden value='{{username}}'>
                    <input id="realnamein" hidden value='{{name}}'>
                    <input type="text" id="post-tags-input" placeholder="Enter a list of comma-separated tags" value="{{tags}}">
                    <input type="submit" id="submit-post" value="Submit post"/>
                </form>
            </div>
                    
</div>

