<title>Profile</title>
<link rel="stylesheet" href="/static/stylesheets/profile.css" />
<link rel="stylesheet" href="/static/stylesheets/post-only.css" />

{{> header}}
<div id="page-content">
    <div id="left-side">
        <div>
            <div class="profile-page">
                    <!-- Apply Javascript to allow the button to upload a file -->
                    <img class="pfp"  src="/static/profile_assets/{{this.username}}.jpg">
            </div>
            <div class="profile-name">
                    <div>{{this.name}}</div>
                    <div style="font-size: medium;">{{this.username}}</div>
            </div>
            <div class="bio">   
                {{this.bio}}
            </div>
        </div>
        <div class="edit-options">
            <div>
                <!-- remove this from edit profile and add this to normal profile-->
                <a href="/editProfile/{{this.username}}" class="brown-link">Edit Profile</a>
            </div>
            <div>
                <a href="/login" class="brown-link">Log Out</a>
            </div>
        </div>
    </div>
    <div class="right-side">
        {{#if posts}}
        {{#each posts}}
        {{> post this}}
        {{/each}}
        {{else}}
            <div class="no-posts">No posts to show...</div>
        {{/if}}
    </div>        
</div>